namespace: vault
route:
  name: vault-vault

vault:
  global:
    openshift: true
  server:
    standalone:
      enabled: true
      config: |
        ui = true
        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }
        storage "file" {
          path = "/vault/data"
        }
    route:
      enabled: true
    dataStorage:
      enabled: true
      size: 10Gi
  ui:
    enabled: true
