namespace: vault
domain: apps.cluster-j9bqh-1.dynamic.redhatworkshops.io

vault:
  global:
    openshift: true
    namespace: vault
  server:
    standalone:
      enabled: true
      config: |
        ui = true
        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }
        storage "file" {
          path = "/vault/data"
        }
    route:
      enabled: true
      host: vault-vault.apps.cluster-j9bqh-1.dynamic.redhatworkshops.io
    dataStorage:
      enabled: true
      size: 10Gi
  ui:
    enabled: true
